.bg-image{
    padding: 150px;
    background-image: url(./Images/SeniorBanner.png);
    background-repeat: no-repeat;
    background-size: 100% 35vh;
}

.nav-pills{
    position: relative;
    bottom: -166.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
}

.nav-link{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 10px;
}

.nav-item{
    padding-left: 100px;
}

.article{
    grid-area: article;
    font-family: 'Lora', serif;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    padding: 10px;
}

h4{
    font-size:large;
}

h2{
    font-size:x-large;
    font-weight: 600;
}

h3{
    font-size: large;
    font-weight: 600;
}

.row{
    background-color: lightgray;
}

.bg-nav{
    
    padding:2em;
    width: 100px;
    background-color: white;
}

.first-letter {
    overflow-wrap: break-word;
    font-family: "Playfair Display", serif;
    font-size: 80px;
    line-height: 80px;
    display: block;
    position: relative;
    float: left;
    margin: 0px 7px -10px -5px;
}

.dataimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.persimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.wireimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.bibliography {
    font-size: 18px;
    font-weight: bold;
}

.reference {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #ccc;
}

.title {
    font-weight: bold;
}

.authors {
    font-style: italic;
}

.doi {
    font-size: 14px;
}
